@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/* HEADER */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("../images/header_background.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
}

.header-black nav {
  color: #202020;
}

.navbar {
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  font-weight: 400;
  color: inherit;
  font-size: 18px;
  line-height: 25px;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #d8b152;
  display: block;
  transition: all 0.5s linear;
  margin: auto;
}

.nav-link:hover::after {
  width: 100%;
}

.header h1 {
  font-size: 56px;
  line-height: 140%;
  font-weight: 400;
}

.row {
  display: flex;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.header .row {
  flex-wrap: nowrap;
}

.header-info p {
  text-align: center;
  margin-bottom: 25px;
}

.btn {
  background-color: #d8b152;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 18px 55px;
  max-width: 260px;
}

.menu-icon {
  display: none;
  margin: 0;
}

/* SERVICES */

.services-section {
  padding: 60px 0 80px;
}

.small-title {
  color: #424242;
  font-size: 46px;
  line-height: 63px;
  margin: 60px 0;
}

.col-3 {
  position: relative;
}

.col-3 img {
  width: 350px;
  height: 350px;
}

.shaded-img-wrapper {
  transition: linear 0.5s;
  filter: saturate(30%);
}

.image-text {
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.shaded-img-wrapper:hover {
  filter: none;
}

.col-3:hover .service-btn {
  display: block;
}

.col-3:hover .image-text {
  top: 45%;
}

/* Join-us */

.join-section {
  padding-bottom: 100px;
}

.join-section .col-4 {
  margin-bottom: 40px;
}

.col-4 {
  flex: 0 1 25%;
}

.col-4 img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.join-btn {
  display: flex;
  justify-content: center;
}

/* FOOTER */

.footer {
  background-color: #202020;
  color: #fff;
  padding: 40px 0 100px;
}

.footer h3 {
  /* padding-bottom: 20px; */
  font-size: 18px;
  font-weight: 600;
}

.footer ul {
  list-style-type: none;
  cursor: pointer;
  padding-left: 0;
}

.footer ul li {
  padding-bottom: 10px;
  font-size: 18px;
}

.footer .row {
  align-items: flex-start;
  margin-bottom: 80px;
}

.footer-contacts {
  display: flex;
  align-items: center;
}

.footer-contacts img {
  margin-right: 10px;
}

.footer .fab {
  color: #d8b152;
  display: inline-block;
  border: 1px solid #d8b152;
  cursor: pointer;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 20px;
}

.footer .fab:hover {
  color: #fff;
  background-color: #d8b152;
}

.footer hr {
  height: 1px;
  background-color: #d8b152;
  border: none;
}

.footer-icon {
  display: none;
  font-size: 24px;
  font-weight: bold;
  color: #d8b152;
  margin-left: 10px;
}

.info-title {
  display: flex;
  align-items: center;
}

/* slider */

.reviews-section {
  position: relative;
  padding-top: 60px;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  margin-bottom: 130px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  max-width: 600px;
  object-fit: cover;
}

/* slider buttons */

.slider-button {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next {
  background-image: url("../images/right.svg");
  height: 22px;
}
.swiper-button-prev {
  background-image: url("../images/left.svg");
}

.slider-button::after {
  display: none;
}

/* FORM */

.form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 100px;
  margin-top: 20px;
}

.text {
  margin-top: -20px;
  font-size: 18px;
  line-height: 24px;
}

.form-col-1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-basis: 30%;
}

.form-btn {
  max-width: 350px;
  width: 100%;
}

.form-col-1 input {
  border: 1px solid #aea38b;
  padding: 18px 30px;
}

.form-col-2 {
  flex-basis: 70%;
}

.form-col-2 textarea {
  resize: none;
  border-color: #aea38b;
  padding: 18px 30px;
  width: 100%;
  height: 100%;
}

.form input::placeholder,
textarea::placeholder {
  font-family: inherit;
  color: #424242;
  font-size: 18px;
  line-height: 24px;
}
textarea:focus,
input:focus {
  outline: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    background: #d8b152;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin: 10px 50px 10px 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .footer-icon {
    display: inline-block;
    cursor: pointer;
  }

  .footer-col-2 ul {
    position: absolute;
    top: 30px;
    left: 0;
    background: #d8b152;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .footer-col-2 ul li {
    margin-top: 5px;
  }

  .header .row {
    flex-wrap: wrap;
  }

  .footer .row {
    justify-content: center;
    align-items: center;
  }

  .footer-col-3 h3,
  .footer-col-4 h3,
  hr {
    display: none;
  }

  .footer-col-2 {
    position: relative;
    order: 4;
    margin: 10px auto;
    flex: 1 1 100%;
    border-top: 1px solid #d8b152;
    border-bottom: 1px solid #d8b152;
  }

  .swiper-slide img {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    justify-content: center;
    text-align: center;
  }

  .header h1 {
    font-size: 25px;
  }

  .small-title {
    color: #424242;
    font-size: 24px;
    line-height: 32px;
  }

  .col-3 img {
    width: 300px;
    height: 300px;
  }

  .col-4 {
    flex-basis: 50%;
    gap: 20px;
  }

  .footer .row {
    flex-direction: row;
    align-items: center;
  }

  .footer .row li {
    font-size: 14px;
  }

  .footer-col-1,
  .footer-col-3 {
    flex: 0 1 50%;
  }

  .footer .logo img {
    width: 110px;
    height: 110px;
    padding: 0;
  }

  .swiper-slide img {
    max-width: 250px;
  }

  .form {
    flex-direction: column;
  }

  .form-btn {
    order: 4;
  }
}
